<h1>Trails</h1>
<h2>Trails in your area</h2>

<ol>
  <% @trails.each do |trail| %>
    <li>
      <%= link_to trail.name, trail_path(trail) %> <br>
      Geocode: <%= trail.location.geocode %>

    </li>
  <% end %>
</ol>

<%= link_to "Add new trail", new_trail_path %>
