<h1>Trails</h1>

<ol>
  <% @trails.each do |trail| %>
    <li>
      <%= link_to trail.name, trail_path(trail) %> <br>
      <% if trail.images.any? %>
        <%= image_tag trail.images.first.url, size: "400x300" %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= link_to "Add new trail", new_trail_path %>
