<h2>Upload File</h2>

<%= form_tag trails_upload_path, multipart: true do %>
  <label for="file_name">File to Upload</label> <%= file_field_tag "file_name" %>
  <%= submit_tag "Upload File"%>
<% end %>
